.calculator{
    width: 50rem;
    min-width: 250px;
    max-width: 80vw;
    height: fit-content;
    margin: .3vh auto;
    padding: 3vw;
}

.screen{
    text-align: right;
    font-family: "Arial Black";
    font-size: x-large;
}

.numButtonItem{
    text-align: center;
}

.numButton{
    margin: 5vw
}

.opButton{
    margin: 5vw
}